/* footer */
.Footer{
  border-top: 1px solid rgba(185, 184, 184, 0.815);
  border-bottom: 1px solid rgba(5, 5, 5, 0.815);
  margin-top: 1rem;
}
.Footer-icon{
  width: 30rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.Footer-icon i{
  font-size: 3rem;
  cursor: pointer;
}